html,body {
    height: 100%;
    width: 100%;
}
.navbar{
    background-color: #00a2d9;
    padding: 1% 0;
    font-size: 1.2em;
}
.navbar-brand{
    min-height: 55px;
    padding: 0 15px 5px;
}
.navbar-default .navbar-nav li a {
    color:#fff;
}
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a.active {
    color: red;
}
#home {
    background: url(images/optimized-pbd_0297-aston.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}
.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
 
}
.landing-text h1 {
    color:red;
    font-size: 500%;
    font-weight: 700%;
}
.landing-text h2 {
    color: red;
}
.padding {
    padding: 80px 0;
    vertical-align: middle;
}
.padding img {
    width: 100%;
}
.info text {
    align-content: center;
    vertical-align: middle;
}
#fixed {
    background: url(images/pool2.jpg) no-repeat center center fixed;
    display: table;
    height: 60%;
    position: relative;
    width: 100%;
    background-size: cover;
}
footer {
    width: 100%;
    background-color:  #00a2d9;
    padding: 5% 5% 10% 5%;
    color: white;
}
.fa {
    padding: 15px;
    font-size: 25px;
    color: white;
}
.fa:hover {
    color: #d5d5d5;
    text-decoration: none; 
}
.icon {
    max-width: 200px;
}

@media (max-width: 768px){
    .landing-text h1 {
        font-size: 300%;
    }
    .fa {
        font-size: 20px;
        padding: 10px;
    }
    .icon {
        padding-top: 5%;
        max-width: 100px;
    }
}
#gallary {
    background: url(images/optimized-pbd_0297-aston.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}
.landing-text {
 display: table-cell;
 text-align: center;
 vertical-align: middle;
 color: black;
}
.landing-text h1 {
    font-size: 500%;
    font-weight: 700%;
}
.padding {
    padding: 80px 0;
    vertical-align: middle;
}
.padding img {
    width: 100%;
}
#fixed {
    background: url(images/pool2.jpg) no-repeat center center fixed;
    display: table;
    height: 60%;
    position: relative;
    width: 100%;
    background-size: cover;
}
footer {
    width: 100%;
    background-color:  #00a2d9;
    padding: 5% 5% 10% 5%;
    color: white;
}
.fa {
    padding: 15px;
    font-size: 25px;
    color: white;
}
.fa:hover {
    color: #d5d5d5;
    text-decoration: none; 
}
.icon {
    max-width: 200px;
}

@media (max-width: 768px){
    .landing-text h1 {
        font-size: 300%;
    }
    .fa {
        font-size: 20px;
        padding: 10px;
    }
    .icon {
        padding-top: 5%;
        max-width: 100px;
    }
}#contact {
    background: url(images/optimized-pbd_0297-aston.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}
.landing-text {
 display: table-cell;
 text-align: center;
 vertical-align: middle;
 color: black;
}
.landing-text h1 {
    font-size: 500%;
    font-weight: 700%;
}
.padding {
    padding: 80px 0;
    vertical-align: middle;
}
.padding img {
    width: 100%;
}
.address {
    font-size: 30px;
    
}
#fixed {
    background: url(images/pool2.jpg) no-repeat center center fixed;
    display: table;
    height: 60%;
    position: relative;
    width: 100%;
    background-size: cover;
}
footer {
    width: 100%;
    background-color:  #00a2d9;
    padding: 5% 5% 10% 5%;
    color: white;
}
.fa {
    padding: 15px;
    font-size: 25px;
    color: white;
}
.fa:hover {
    color: #d5d5d5;
    text-decoration: none; 
}
.icon {
    max-width: 200px;
}
#form
    .register.nav-tabs .nav-link:hover{
        border: none; 
    }
    
    .text-align{
        margin-top: -3%;
        margin-bottom: -9%;

        padding: 10%;
        margin-left: 30%;
    }
    .form-new{
        margin-right: 22%;
        margin-left: 20%;
    }
    .register-heading{
        text-align: center;
        margin-bottom: 10%;
        color: #1572cf;
    }
    .register-heading h1{
        margin-left: 21%;
        margin-bottom: 10%;
        color: #03612e;
    }
    .register{
        
        margin-top: 2px;
        padding: 0;
        border-radius: 0.5rem;
    }
    .btnSubmit
    {
        width: 50%;
        border-radius: 1rem;
        padding: 1.5%;
        color: #fff;
        background-color: #03612e;
        border: none;
        cursor: pointer;
        margin-right: 6%;
        color: rgb(246, 246, 252);
        margin-top: 4%;
    }


@media (max-width: 768px){
    .landing-text h1 {
        font-size: 300%;
    }
    .address {
        font-size: 25px;
    }
    .fa {
        font-size: 20px;
        padding: 10px;
    }
    .icon {
        padding-top: 5%;
        max-width: 100px;
    }
}